{
	AccessModifierOffset: -4,
	IndentWidth: 4,
	ContinuationIndentWidth: 4,
	IndentAccessModifiers: true,
	AllowShortFunctionsOnASingleLine: Empty,
	UseTab: ForIndentation,
	TabWidth: 4,
	BasedOnStyle: Chromium,
	#AlignAfterOpenBracket: DontAlign,
	BreakBeforeBraces: Attach,
	ColumnLimit: 0,
}
